/*! Stile globale dell'applicazione */

body{
    background-color: rgb(0, 0, 0);

    font-family: "Cinzel Decorative", serif;
}

main {
    position: relative;
}

li{
    list-style: none;
}
a{
    color: white;
    text-decoration: none;
}

.cards {
    animation: contPageSlideIn 1000ms ease-out;
    
}

@keyframes contPageSlideIn {
    from {
        opacity: 1;
        transform: translateY(-100vh);
        filter: opacity(0.9) blur(1px);
}
    to {
        opacity: 1;
        transform: translateY(0);
        filter: opacity(1) blur(0px);
    }
}
