body{
    background-color: rgb(0, 0, 0);
}

/* NavBar */
.navBar{
    height: 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    padding: 0 20px;
    color: white;
    font-size: 24px;
    font-weight: bold;
}