/*! Stile globale dell'applicazione */

body{
    background-color: rgb(0, 0, 0);

    font-family: "Cinzel Decorative", serif;
}

li{
    color: white;

    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    
    cursor: pointer;
    transition: color 0.3s;
    list-style: none;
}

a{
    color: white;
    
    text-decoration: none;
    
}
